<div class='bg-primary text-white'>
  <h1> 
  Adult BMI Calculator
  </h1>
</div>


  <div class="container">
    <div class="card">
  <div class="card-header"> Adult BMI Calculator </div>
  <form class="w-50 m-auto">
  <div class="form-group">
    <label for="Centimeters">Height: Centimeters</label>
    <input [(ngModel)]='Centimeters' type="number" id='Centimeters' name='Centimeters' class="form-control">
  </div>

  <div class="form-group">
    <label for="Kilograms">Weight: Kilograms</label>
    <input [(ngModel)]='Kilograms' type="number" id='Kilograms' name='Kilograms' class="form-control">
  </div>

  <button (click)="click()" type="button" class="btn btn-primary">Calculate</button>
  <div>Results: {{answer}}</div> 
  
</form>



<!-- <form>
  <label for="Centimeters">Height: Centimeters</label>
  <input [(ngModel)]='Centimeters' type="number" id='Centimeters' name='Centimeters'>
  <br/>

  <label for="Kilograms">Weight: Kilograms</label>
  <input [(ngModel)]='Kilograms' type="number" id='Kilograms' name='Kilograms'>
  <br/>

  <button (click)="click()" type="button" class="btn btn-primary">Calculate</button>
  <div>{{answer}}</div>
</form> -->